/* @import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css'); */
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #app {
    /* font-family: 'SUIT Variable', system-ui, sans-serif; */
    font-family: 'Wanted Sans Variable', 'Wanted Sans', -apple-system, BlinkMacSystemFont, system-ui,
      'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }
}

@layer components {
  .input-dark {
    @apply text-xs p-2 !h-8 bg-[#252526] border border-[#333] rounded text-white pl-3 outline-none;
  }

  .input-dark:disabled {
    @apply bg-[#333] text-gray-400 opacity-50 cursor-not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .input-white {
    @apply text-xs p-2 !h-8 bg-[#FFF] border border-[#dcdcdc] text-black rounded pl-3 outline-none 
focus:border-[#4F46E5] focus:ring-2 focus:ring-[#4F46E5]/20;
  }

  .input-color {
    @apply text-xs !h-8 bg-[#252526] border border-[#333] rounded text-white pl-3 outline-none;
  }
  .input-color::-webkit-color-swatch-wrapper {
    @apply p-0;
  }
  .input-color::-webkit-color-swatch {
    @apply border-none rounded;
  }
  .input-color::-moz-color-swatch {
    @apply border-none rounded;
  }
  .select-dark {
    @apply text-xs p-2 !h-8 outline-none bg-[#252526] border border-[#333] rounded text-white pl-3;
  }
  .select-dark:disabled {
    @apply bg-[#333] text-gray-400 opacity-50 cursor-not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  .btn-primary {
    @apply flex justify-center items-center min-w-[84px] gap-2 px-4 py-2 text-sm text-white transition-colors duration-200  rounded-md bg-[#4F46E5] hover:bg-[#4C45C4];
  }
  .btn-dark {
    @apply flex justify-center items-center min-w-[84px] border border-[#ccc] gap-2 px-3 py-1.5 text-sm text-white transition-colors duration-200 rounded-md shadow-sm bg-slate-700 hover:bg-slate-600;
  }

  .mini-btn {
    @apply w-8 h-8 flex gap-2 items-center justify-center font-bold text-white transition-colors duration-200 rounded-md shadow-sm bg-[#4F46E5] hover:bg-[#4C45C4];
  }
}
