/* @import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css'); */
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #805ee8;
  --primary-accent-color: #532ec1;
  --secondary-color: #e8e0ff;
  --light-gray-color: #f5f5f5;
  --middle-gray-color: #e6e6e6;
  --accent-gray-color: #dbdbdb;
}

@layer base {
  #app {
    /* font-family: 'SUIT Variable', system-ui, sans-serif; */
    font-family: 'Wanted Sans Variable', 'Wanted Sans', -apple-system, BlinkMacSystemFont, system-ui,
      'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }
}

@layer components {
  .input-dark {
    @apply text-xs p-2 !h-8 bg-[#252526] border border-[#333] rounded text-white pl-3 outline-none;
  }
  .select-dark {
    @apply text-xs p-2 !h-8 outline-none bg-[#252526] border border-[#333] rounded text-white pl-3;
  }
  .btn-primary {
    @apply bg-[var(--primary-color)] rounded-[10px] transition-all duration-200 px-6 h-10 text-white hover:bg-[var(--primary-accent-color)];
  }
}
